html, body{
overflow: hidden;
width   : 100%;
height  : 100%;
min-height : 100%;
margin  : 0;
padding : 0;
font-size:16px;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family:Tahoma, Geneva, sans-serif;
text-shadow:1px 1px rgb(125,125,125);
font-weight:bold;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9977ff+0,8a6be5+100 */
background: #9977ff; /* Old browsers */
background: -moz-linear-gradient(top, #9977ff 0%, #8a6be5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #9977ff 0%,#8a6be5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #9977ff 0%,#8a6be5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9977ff', endColorstr='#8a6be5',GradientType=0 ); /* IE6-9 */
}

body *, *::before, *::after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

.full-wrap{
top:0;left:0;right:0;
bottom:18px;
position:absolute;
display:none;
}

.hidden{display:none;}
.small{font-size:0.65em;}
.inline{display:inline-block!important;}
.abs-center{
	position:absolute;
	left:50%; top:50%;
	transform:translate(-50% , -50%);
}
.align-right{
	text-align:right;
}

.pane{
	position:absolute;
	display:none;
	width:auto; height:auto;
	min-width:120px; min-height:1.5em;	
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 0px 7px 0 rgba(0,0,0,0.32);
	box-shadow: 0px 0px 7px 0 rgba(0,0,0,0.32);
	border: 1px solid #261E40;
	overflow:hidden;
	background:rgb(200,220,240);	
	padding:0.5em;
}

.pane.active, .full-wrap.active{
	display:block;
}

.pane::before{
	position:relative;
	display:block;
	height:1.5em;
	content:attr(name);
	border-bottom:1px solid #261E40;
	margin-bottom:0.5em;
	margin-top:-0.5em;
	margin-left:-0.5em;
	margin-right:-0.5em;
	padding:0.2em 0.5em;
	line-height:1.1em;
	background:#4D3B7F;
	color:white;
	text-shadow:1px 1px #261E40, -1px -1px #261E40, 1px -1px #261E40, -1px 1px #261E40, 0 1px #261E40, 1px 0 #261E40, 0 -1px #261E40, -1px 0 #261E40;
}

.button{
	letter-spacing:0.06em;
	display:block;
	position:relative;
	text-decoration:none;
	color:white;
	padding:0.2em 0.5em;
	margin:0.2em;
	border:1px solid #261E40;
	background:#4D3B7F;
	text-shadow:1px 1px #261E40, -1px -1px #261E40, 1px -1px #261E40, -1px 1px #261E40, 0 1px #261E40, 1px 0 #261E40, 0 -1px #261E40, -1px 0 #261E40;
}


.button:hover{
	color:#9977FF;
	border-color:#7359BF;
}

.button:active{
	color:#4D3B7F;
	border-color:#261E40;
	background:white;
}

.button.inline{
	width:auto;
}

.in{
	display:block;	
}

.in span{
	display:block;
	font-size:0.85em;
	background:#4D3B7F;
	padding:0.2em;
	color:white;
	text-shadow:1px 1px #261E40, -1px -1px #261E40, 1px -1px #261E40, -1px 1px #261E40, 0 1px #261E40, 1px 0 #261E40, 0 -1px #261E40, -1px 0 #261E40;
	margin-bottom:-1px;
}

.in input{
	margin-bottom:0.2em;
	border: 1px solid #261E40;
	padding:0.2em;
	width:100%;
}


.list{
	background:white;
	border: 1px solid #261E40;
	padding:0.2em;
	overflow:auto;
}

.drop-menu{
    background: #261E40;
    color: darkgray;
    line-height: 1.5em;
	padding-left:0.5em;
	font-size:0.65em;
}

.drop-menu a{
	text-decoration:none;
	color:white;
	padding:0.5em;
	display:block;
}

.drop-menu a:hover{
	color:lightgray;
	background:rgba(255,255,255,0.2);
}

.drop-menu .menu-section .menu-section {
	display: none;
	margin:0;
}

.drop-menu .menu-section{
	position: relative;
	display: block;	
}

.drop-menu .menu-section > .menu-item{
	display:inline-block;

}

.drop-menu .menu-section .menu-item:hover > .menu-section {
	display:block;
	position:absolute;
	background:rgb(74,57,122);
	
}

.drop-menu .menu-section .menu-item:hover > .menu-section > .menu-item{
	display:block;
}

.drop-menu .menu-section .menu-section .menu-section{
		position:absolute;
		transform:translate(0, -2.5em);
		left:100%;
}



	


#version{
	display:block;
	position:absolute;
	background:#261E40;
	color:#7359BF;
	bottom:0;
	left:0;
	right:0;
	font-size:12px;
	height:18px;
	line-height:18px;
	opacity:0.65;
	text-align:right;
	padding-right:0.5em;
}

#version a{
	text-decoration:none;
	color:#7359BF;
	cursor:pointer;
}


